@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar.css */
/* Set the width and color of the scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #888;
    /* Change this to gray */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #888;
    /* Change this to gray */
    border-radius: 5px;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* You can keep the track light gray */
}

/* Standard scrollbar styles for other browsers */
/* scrollbar-width: thin;
scrollbar-color: #888 #f1f1f1; */
/* Change the colors accordingly */

/* Firefox specific scrollbar styles */
* {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    /* Change the colors accordingly */
}